{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="wrapper">
    {% include "components/navbarAncre.html.twig" %}


    {# section toptitle #}
    {% include "section/toptitle.html.twig" %}

    {# section compétences #}
    {% include "section/compétence.html.twig" %}

    {# section Formation #}
    {% include "section/content.html.twig" %}

    {# section projet #}
    {% include "section/projet.html.twig" %}

    {# section aboutMe #}
    {% include "section/aboutMe.html.twig" %}
</div>
{% endblock %}
