<h1 class="text-center">Hi! Please confirm your email!</h1>

<div>{% trans %} Veuillez confirmer votre email en cliquant sur le lien qui vous a était envoyé avec l'adresse mail enregistré {% endtrans %}
    <br><br>
    <a href="{{ signedUrl }}">{% trans %}Confirmer mon e-mail{% endtrans %}</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</div>

<p>
    Bienvenue !
</p>
