<div class="wrapper my-5">
    <h3 id="aboutMe" class="text-center my-3 text-uppercase fs-1"> {% trans %}A propos de moi{% endtrans %} </h3>
    <div class="text-center">
        <p> {% trans %}Ayant une expérience dans le travail pendant 10 ans, j'ai découvert le code à l'âge de 29 ans.<br>
        Depuis je ne cesse d'apprendre chaques jours. Le code me passionne et me permet de faire le travail qui me convient.
        Début 2021 j'ai décidé de changer de vie et d'intégrer une formation de développeur web qui m'a permis de consilider mes compétences.
        {% endtrans %} </p>
    </div>
</div>