{% extends 'admin/baseAdmin.html.twig' %}

{% block title %} {{ parent() }} {% trans %} Nouveau projet{% endtrans %} {% endblock %}

{% block body %}
    <h1 class="text-center">{% trans %}Créer projet{% endtrans %}</h1>

    {{ include('admin/admin_projet/_form.html.twig') }}

<div class="d-flex justify-content-center">
    <a class="d-inline my-2 mx-2 btn btn-primary" href="{{ path('admin_projet_index') }}">{% trans %}Retour à la liste{% endtrans %}</a>
</div>
{% endblock %}
