.wrapper {
    width: 80vw;
    margin: 0 auto;
}

.flag_logo{
    width: 50px;
    height: 50px;
}

.image_projet{
    width: 400px;
    height: 400px;
}

.background-footer{
    background-color: #abbaca;
}

.style_list{
    list-style: none;
}

.logo_contact{
    width: 15px;
    height: 15px;
}

.separate{
    width: 50px;
    height: 3px;
}

.secondary{
    background-color: lightgrey;
}