<nav>
    <ul>
        <li><a href="{{ path("blog") }}">Blog</a></li>
        <li><a href="{{ path("app_register") }}">S'inscrire</a></li>
        <li><a href="{{ path("app_login") }}">Log-in</a></li>
        <li><a href="{{ path("app_logout") }}">Log-out</a></li>
    </ul>
</nav>