<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    		<div id="map">
			<!-- Ici s'affichera la carte -->
		</div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% include "components/nav.html.twig" %}

        {% block body %}{% endblock %}


    {% block formContact %}
        {% include 'components/footer.html.twig' %}
    {% endblock formContact %}
    </body>
</html>
