<footer>
    <div class="w-50 text-center my-3">
    <p class="text-white">Vous avez des questions ?</p>
    <a class="btn-full" href="{{ path('send_mail_contact') }}">{% trans %}Contacter moi{% endtrans %}</a>
    </div>
</footer>