<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAncre" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarAncre">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-around w-100">
        <li><a href="#competence">Compétences</a></li>
        <li><a href="#aboutMe">A propos</a></li>
        <li><a href="#contactMe">Contact</a></li>
        <li><a href="#myProject">Projet</a></li>
      </ul>
    </div>
  </div>
</nav>