{% extends 'base.html.twig' %}

{% block title %}{% trans %} Modification Utilisateurs{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="text-center">{% trans %}Modification Utilisateurs{% endtrans %}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="d-flex justify-content-center">
    <a class="d-inline my-2 mx-2 btn btn-primary" href="{{ path("user_show", {'id' :app.user.id}) }}">retour</a>
    </div>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
